<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<clear />
				<rule name="Root Hit Redirect" stopProcessing="true">
					<match url="^$" />
					<action type="Redirect" url="/web/" />
				</rule>
				<rule name="Redirect to HTTPS" enabled="true" stopProcessing="true">
					<match url="(.*)" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false">
						<add input="{HTTPS}" pattern="^OFF$" />
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
				</rule>
				<rule name="ReverseProxyInboundRule1" stopProcessing="true">
					<match url="(.*)" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Rewrite" url="http://192.168.1.7:32400/{R:1}"/>
					<serverVariables>
						<set name="HTTP_ACCEPT_ENCODING" value="" />
					</serverVariables>
				</rule>
			</rules>
			<outboundRules>
				<rule name="ReverseProxyOutboundRule1" preCondition="ResponseIsHtml1">
					<match filterByTags="A, Form, Img" pattern="^http(s)?://192.168.1.7:32400/(.*)" />
					<action type="Rewrite" value="http{R:1}://plex.hufford.org/{R:2}" />
				</rule>
				<preConditions>
					<preCondition name="ResponseIsHtml1">
						<add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
					</preCondition>
				</preConditions>
			</outboundRules>
		</rewrite>
		<tracing>
			<traceFailedRequests>
				<add path="*">
					<traceAreas>
						<add provider="ASP" verbosity="Verbose" />
						<add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose" />
						<add provider="ISAPI Extension" verbosity="Verbose" />
						<add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI,Rewrite,RequestRouting" verbosity="Verbose" />
					</traceAreas>
					<failureDefinitions timeTaken="00:00:00" statusCodes="400" />
				</add>
			</traceFailedRequests>
		</tracing>
		<urlCompression doStaticCompression="false" doDynamicCompression="false" />
	</system.webServer>
</configuration>